.container {
    padding-top: 0px;
    padding-left: 200px;
    min-height: 100vh;
    background-color: #F9F4ED;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    padding: 2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.folderHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}