.container {
    margin-top: 0px;
    margin-left: 200px;
    min-height: 100vh;
    background-color: #F9F4ED;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
}

.main {
    padding: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}