/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dots {
  0% {
    content: "";
  }

  33% {
    content: ".";
  }

  66% {
    content: ". .";
  }

  100% {
    content: ". . .";
  }
}

.dots::after {
  display: inline-block;
  content: "";
  animation: dots 2s steps(3, end) infinite;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: auto;
  overflow-y: auto;
}